@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Concert+One&family=Shantell+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
    --color1: #9287c9;
    --color2: #fff;
    --color3: #f0e7e9;
    --color4: #d2c7ff;
    --color5: #3c3839;
    --color6: #5e5491;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--color3);
}

header {
    background-color: var(--color4);
}

h1#titulo1 {
    text-align: center;
    font-size: 6.5vw;
    font-family: "Concert One", sans-serif;
    padding: 4vw;
    color: var(--color5);
}

nav {
    background-color: var(--color1);
    width: 100%;
    padding-top: 3vw;
    padding-bottom: 3vw;
    text-align: center;
    position: sticky;
    z-index: 10;
    top: 0;
}

nav span a {
    text-decoration: none;
    display: block;
    color: var(--color2);
    font-family: "Shantell Sans", cursive;
    font-weight: bold;
    font-size: 5vw;
}

a:hover {
    color: var(--color4);
    transform: scale(1.2);
}


section.Datos article,
section#ejercicios {
    margin-top: 5vw;
    padding: 0 6vw 0;
}

section.Datos h1 {
    font-family: "Shantell Sans", cursive;
    color: var(--color6);
    font-size: 8vw;
    text-align: left;
    padding-bottom: 2vw;
    margin-top: 4vw;
}

section.Datos h2 {
    font-family: "Shantell Sans", cursive;
    color: var(--color5);
    font-size: 5vw;
    text-align: center;
}

section.Datos p {
    margin-top: 2vw;
    font-family: "Concert One", sans-serif;
    color: var(--color5);
    line-height: 8vw;
    text-align: justify;
    font-size: 5vw;
}

section#ejercicios {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

section#ejercicios h1 {
    padding-bottom: 4vw;
    font-family: "Shantell Sans", cursive;
    color: var(--color5);
    font-size: 8vw;
}

section#ejercicios article {
    width: 75%;
    background-color: var(--color4);
    padding: 4vw;
    font-family: "Concert One", sans-serif;
    border-radius: 8vw;
    margin-top: 3vw;
    border: solid 2px var(--color5);
}

section#ejercicios article h2 {
    text-align: center;
    color: var(--color6);
}

section#ejercicios article p {
    line-height: 7vw;
    text-align: justify;
}

section#ejercicios article ul {
    line-height: 8vw;
    margin: 0 auto;
    text-align: center;
    color: var(--color5);
}

section#ejercicios article li {
    list-style: none;
}

section#ejercicios article li a {
    text-decoration: none;
    color: var(--color5);
}

section#ejercicios article li:hover {
    color: var(--color6);
    transform: scale(1.2);
}

section#FODA {
    padding-top: 4vw;
    margin: 10vw;
}

section#FODA h1 {
    text-align: center;
    color: var(--color6);
    font-family: "Shantell Sans", cursive;
    font-size: 8vw;
}


section#FODA article.cajas {
    display: flex;
    flex-wrap: wrap;
    font-family: "Concert One", sans-serif;
}

section#FODA article.cajas h2 {
    color: var(--color5);
}

section#FODA article.cajas div {
    width: 43%;
    padding: 2vw;
    text-align: center;

}

#primer {
    border-bottom: solid 2px var(--color5);
    border-right: solid 2px var(--color5);
}

#segundo {
    border-bottom: solid 2px var(--color5);
    border-collapse: collapse;
}

#tercero {
    border-right: solid 2px var(--color5);

}

section#FODA article.cajas div li {
    list-style: none;
    padding: 3vw;
}

section#Retro, section#aprendizaje {
    padding: 0 4vw;
    font-family: "Concert One", sans-serif;
    color: var(--color5);
}

section#Retro h1, section#aprendizaje h1{
    color: var(--color6);
    font-family: "Shantell Sans", cursive;
    font-size: 8vw;
    text-align: center;
    padding: 3vw;
}

section#Retro p {
    font-size: 5vw;
    line-height: 8vw;
    text-align: justify;
    padding: 4vw;
}

section#Retro p span {
    color: var(--color6);
    font-weight: bold;
    font-style: italic;
}

section#aprendizaje h1~h2{
    font-family: "Shantell Sans", cursive;
    color: var(--color5);
    font-size: 7vw;
    text-align: center;
}

section#aprendizaje{
    margin: 5VW 8VW 15VW;
}

section#aprendizaje li a{
    text-decoration: none;
line-height: 10vw;
font-family: "Concert One", sans-serif;
color: var(--color5);
font-size: 5vw;

}

section#aprendizaje p{
    line-height: 8vw;
    font-size: 5vw;
}



footer {
    position: fixed;
    background-color: var(--color1);
    bottom: 0;
    width: 100%;
    height: 4vw;
    text-align: center;
    padding: 3vw;
    color: var(--color2);
    font-family: "Concert One", sans-serif;
}


@media screen and (min-width: 481px) and (max-width:
768px){
    h1#titulo1 {
        font-size: 4vw;
        padding: 2vw;

    }
    
    nav {
        padding-top: 1vw;
        padding-bottom: 1vw;
    }
    nav span a {
        font-size: 2vw;
    }
    footer {
        position: static;
        height: 2vw;
        padding: 1vw;
        width: 98%;
    }

    section.Datos h1 {
        font-size: 5vw;
    }
    
    section.Datos h2 {
        font-size: 4vw;
    }
    section.Datos p {
        line-height: 5vw;
        font-size: 3vw;
    }
    section#ejercicios h1 {
        padding-bottom: 2vw;
        font-size: 5vw;
    }

    section#ejercicios article p {
        line-height: 4vw;
        font-size: 3VW;
    }
    
    section#ejercicios article ul {
        line-height: 4vw;
        margin-top: 5vw;
    }
    
    section#ejercicios article li {
        list-style: none;
        font-size: 3vw;
    }

    section#FODA {
        padding-top: 1vw;
        margin: 5vw;
    }
    
    section#FODA h1 {
        font-size: 6vw;
    }

    section#FODA article.cajas h2 {
        font-size: 5vw;
    }

        
    section#FODA article.cajas div li {
        font-size: 3vw;
    }
    
    section#Retro p {
        font-size: 4vw;
        line-height: 6vw;
        padding: 2vw;
    }

    section#aprendizaje h1~h2{
        font-size: 4vw;
    }

    section#aprendizaje{
        margin: 5VW 8VW 5VW;
    }
    
    section#aprendizaje li a{
        text-decoration: none;
    line-height: 4vw;
    font-family: "Concert One", sans-serif;
    color: var(--color5);
    font-size: 3vw;
    
    }
    
    section#aprendizaje p{
        line-height: 4vw;
        font-size: 3vw;
    }

    section#Retro h1, section#aprendizaje h1{
        font-size: 5vw;
    }
    
    
}
@media screen and (min-width: 769px) {
    section#aprendizaje h1~h2{
        font-size: 4vw;
    }
    section#Retro p {
        font-size: 3vw;
        line-height: 6vw;
        padding: 2vw;
    }
    
    h1#titulo1 {
        font-size: 3vw;
        padding: 1vw;

    }
    
    nav {
        padding-top: 1vw;
        padding-bottom: 1vw;
    }
    nav span a {
        display: inline;
        font-size: 1.5vw;
        margin: 2vw;
    }
    footer {
        position: static;
        height: 1vw;
        padding: 2vw;
        width: 95.5%;
    }

    section.Datos h1 {
        font-size: 4vw;
    }
    
    section.Datos h2 {
        font-size: 3vw;
    }
    section.Datos p {
        line-height: 5vw;
        font-size: 2.5vw;
    }

    section#ejercicios h1 {
        padding-bottom: 2vw;
        font-size: 5vw;
        position: absolute;
        top: 83VW;
    }


    section#ejercicios article {
        width: 37%;
        margin: 1vw;
        border-radius: 8vw;
        margin-top: 3vw;
    }
    
    section#ejercicios article p {
        line-height: 4vw;
        font-size: 2VW;
    }
    
    section#ejercicios article ul {
        line-height: 4vw;
        margin-top: 3vw;

    }
    
    section#ejercicios article li {
        list-style: none;
        font-size: 2.5vw;
    }



    section#FODA {
        padding-top: 1vw;
        margin: 5vw;
    }
    
    section#FODA h1 {
        font-size: 6vw;
    }

    section#FODA article.cajas h2 {
        font-size: 5vw;
    }
    
    section#FODA article.cajas div li {
        font-size: 3vw;
    }


    section#aprendizaje{
        margin: 5VW 8VW 5VW;
    }
    
    section#aprendizaje li a{
        text-decoration: none;
    line-height: 4vw;
    font-family: "Concert One", sans-serif;
    color: var(--color5);
    font-size: 3vw;
    
    }
    
    section#aprendizaje p{
        line-height: 4vw;
        font-size: 3vw;
    }


    section#Retro h1, section#aprendizaje h1{
        font-size: 5vw;
    }
    
    
}
