body{
    font-size: 20px;
    background-color: rgb(224, 233, 238);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}
h1{
    text-align: center;
    font-weight: bold;
    color: rgb(37, 59, 117);
}

a{
    color: black;
    font-size: 1.4rem;
    text-decoration: none;
}

h2{
    text-align: center;
    color: rgb(79, 120, 196);
}

Li:hover{
    font-weight: bold;
    font-size: 1.6rem;
    color: darkslateblue;
}

